* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1A171E;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.main-page-container {
  width: 1347px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 126px;
}

.main-page-container .main-page__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.main-page-container .main-page__text .main-page__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  width: 650px;
  height: 128px;
}

.main-page-container .main-page__text .main-page__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  width: 623px;
  height: 54px;
}

.whyyolbelet-container {
  margin: auto;
  margin-top: 126px;
  width: 1232px;
  height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whyyolbelet-container .whyyolbelet__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__title {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__main-box .main-box__item {
  width: 608px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__main-box .main-box__item .box__box-number1 {
  color: #E26A27;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__main-box .main-box__item .box__box-number2 {
  color: #5DD4D8;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__main-box .main-box__item .box__box-number3 {
  color: #4194F4;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__main-box .main-box__item .box__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.whyyolbelet-container .whyyolbelet__text .whyyolbelet__main-box .main-box__item .box__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.free-consulting-container {
  background-color: #6B22E2;
  width: 1440;
  height: 432px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.free-consulting-container .free-consulting__title {
  width: 880px;
  height: 128px;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.free-consulting-container .free-consulting__title .free-consulting__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.free-consulting-container .free-consulting__title .free-consulting__message .free-consulting__input {
  width: 504px;
  height: 56px;
}
/*# sourceMappingURL=style.css.map */