* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1A171E;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("../font/SofiaProRegular.woff") format("woff");
  font-family: 'Sofia Pro';
  font-weight: 400;
}

@font-face {
  src: url("../font/SofiaProRegular.woff2") format("woff2");
  font-family: 'Sofia Pro';
  font-weight: 400;
}

@font-face {
  src: url("../font/SofiaProBold.woff") format("woff");
  font-family: 'Sofia Pro';
  font-weight: 700;
}

@font-face {
  src: url("../font/SofiaProBold.woff2") format("woff2");
  font-family: 'Sofia Pro';
  font-weight: 700;
}

.header {
  overflow: overlay;
  background-image: url(.././img/team-members.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -141px;
}

.land {
  overflow: overlay;
  background-image: url(.././img/team-members.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -500px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 267px;
}

.logo-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 538px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

.seacrh-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  margin-right: 32px;
}

.contact-btn {
  background: #F4B840;
  border-radius: 8px;
  padding: 12px 32px;
  color: #1A171E;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border: none;
  cursor: pointer;
}

.logo {
  height: 51px;
  margin-right: 75px;
}

.land__container {
  max-width: 1232px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 468px;
}

.land__content {
  max-width: 563px;
  margin-right: 103px;
}

.land__title {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 75px;
  margin-top: 0;
  margin-bottom: 17px;
}

.land__text {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 29px;
  margin-top: 0;
}

.land__btn {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  padding: 17px 36px;
  border-radius: 31px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.land-btn_blue {
  background: #4194F4;
  margin-right: 38px;
}

.land-btn_black {
  background: #2A2A35;
}

.clients__container {
  max-width: 1232px;
  margin: auto;
  margin-bottom: 111px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.service__container {
  max-width: 1232px;
  margin: auto;
  margin-bottom: 160px;
}

.service__img {
  width: 504px;
  height: 648px;
  -webkit-filter: drop-shadow(0px 4px 19px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 19px rgba(0, 0, 0, 0.15));
  border-radius: 8px;
}

.service__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  text-decoration: none;
  color: inherit;
}

.service__title {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  margin: 0;
  margin-right: 30px;
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-box__logo {
  margin-bottom: 16px;
}

.service-box__logo:hover {
  color: white;
  background-color: #EAB293;
}

.service-box__logo-1 {
  width: 64px;
  height: 64px;
  background-image: url(.././img/icon/service-1-without-bg.svg);
}

.service-box__logo-1:hover {
  /* background-image: url(.././img/icon/service-1-hover.svg) */
  background-color: #EAB293;
  border-radius: 8px;
}

.service-box__title {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 16px;
}

.service-box__text {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
}

.service-box__item {
  width: 296px;
  height: 316px;
  border-radius: 8px;
  padding: 24px;
  background: #6B22E2;
}

.service-box__item:hover {
  background-color: #E26A27;
}

.service-box__item:hover span {
  color: white;
  background-color: #EAB293;
}

.service-box__item-1, .service-box__item-3 {
  margin-right: 16px;
}

.service-box__item-1, .service-box__item-2 {
  margin-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */