*
  box-sizing: border-box
body
  background-color: $black
  color: #FFFFFF
  margin: 0
  padding: 0
  font-family: sofia-pro, sans-serif
  font-style: normal
  font-weight: 400
  margin: 0
  padding: 0

$sofia-pro-font: "../font"

@font-face 
  src: url($sofia-pro-font + "/SofiaProRegular.woff") format('woff')
  font-family: 'Sofia Pro'
  font-weight: 400

@font-face 
  src: url($sofia-pro-font + "/SofiaProRegular.woff2") format('woff2')
  font-family: 'Sofia Pro'
  font-weight: 400
  
@font-face 
  src: url($sofia-pro-font + "/SofiaProBold.woff") format('woff')
  font-family: 'Sofia Pro'
  font-weight: 700
  
@font-face 
  src: url($sofia-pro-font + "/SofiaProBold.woff2") format('woff2')
  font-family: 'Sofia Pro'
  font-weight: 700

//mainpagedaky surat
.header
  overflow: overlay
  background-image: url(.././img/team-members.png)
  background-repeat: no-repeat
  background-position-x: 85%
  background-position-y: -141px
.land
  overflow: overlay
  background-image: url(.././img/team-members.png)
  background-repeat: no-repeat
  background-position-x: 85%
  background-position-y: -500px

h1
  font-family: Sofia Pro
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 64px
  font-feature-settings: 'pnum' on, 'lnum' on

h2
  font-family: Sofia Pro
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 32px

p
  font-family: Sofia Pro
  font-style: normal
  font-weight: normal
  font-size: 24px
  line-height: 26px
