*
  box-sizing: border-box
body
  background-color: #1A171E
  color: #FFFFFF
  margin: 0
  padding: 0
  font-family: sofia-pro, sans-serif
  font-style: normal
  font-weight: 400

$sofia-pro-font: "../font"

@font-face 
  src: url($sofia-pro-font + "/SofiaProRegular.woff") format('woff')
  font-family: 'Sofia Pro'
  font-weight: 400

@font-face 
  src: url($sofia-pro-font + "/SofiaProRegular.woff2") format('woff2')
  font-family: 'Sofia Pro'
  font-weight: 400
  
@font-face 
  src: url($sofia-pro-font + "/SofiaProBold.woff") format('woff')
  font-family: 'Sofia Pro'
  font-weight: 700
  
@font-face 
  src: url($sofia-pro-font + "/SofiaProBold.woff2") format('woff2')
  font-family: 'Sofia Pro'
  font-weight: 700