.meet-us
  &__container
    display: flex
    align-items: center
    margin-bottom: 28px
    
.our-values
  &__container
    max-width: 1208px
    margin: auto
    margin-bottom: 104px
  &__title
    text-align: center
    margin-bottom: 77px
  &__main
    display: flex
    justify-content: space-between
    &-box
      max-width: 298px
      &__title
        margin-top: 40px
        margin-bottom: 44px
        font-family: 'Sofia Pro'
        font-style: normal
        font-weight: 700
        font-size: 36px
<<<<<<< HEAD
        line-height: 35px

.result
  background-color: $purple
  &__container
    display: flex
    justify-content: space-evenly
  &__box
    margin-top: 56px
    margin-bottom: 56px
    width: 296px
    padding-left: 20px
    height: 258px
    border-radius: 8px
    &__img
      margin: 20px 0 8px 20px
      &_yellow
        padding-top: 15px
    &__amount
      font-family: 'DM Sans'
      font-style: normal
      font-weight: 700
      font-size: 64px
      line-height: 60px
    &_orange
      background-color: $orange
    &_green
      background-color: $green  
    &_yellow
      background-color: $yellow
      
    &_turquoise
      background-color: $turquoise
    &-title
      font-weight: 700
      font-size: 36px
      line-height: 64px
    &-subtitle
      font-weight: 400
      font-size: 16px
      line-height: 27px



