.meet-us
  &__container
    display: flex
    align-items: center
    margin-bottom: 28px
    &__title
    &__img
    
.our-values
  &__container
    display: flex
    min-width: 1209px
    margin: auto
    align-items: center
    flex-direction: column
    &__title
      margin-bottom: 78px
    &__main
      display: flex
      &-box
        max-width: 334px