.main-page
  &-container
    width: 1347px
    height: 480px
    display: flex
    justify-content: end
    margin-bottom: 126px
  &__text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: start
  &__title
    font-weight: bold
    font-size: 64px
    line-height: 64px
    width: 650px
    height: 128px
  &__subtitle
    font-weight: normal
    font-size: 16px
    line-height: 27px
    width: 623px
    height: 54px

.whyyolbelet
  &-container
    margin: auto
    margin-top: 126px
    width: 1232px
    height: 588px
    display: flex
    justify-content: space-between
  &__text
    display: flex
    flex-direction: column
    justify-content: space-evenly
  &__title
    font-family: Sofia Pro
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 64px
  &__main-box
    display: flex
    flex-direction: column
    justify-content: space-evenly

//.why-yolbelet__maiт-box .why-yolbelet__maiт-box__item 
.main-box
  &__item
    width: 608px
    height: 134px
    display: flex
    flex-direction: column
    justify-content: space-evenly
.box
  &__box
    &-number1
      color: #E26A27
      font-weight: bold
      font-size: 24px
      line-height: 32px
    &-number2
      color: #5DD4D8
      font-weight: bold
      font-size: 24px
      line-height: 32px
    &-number3
      color: #4194F4
      font-weight: bold
      font-size: 24px
      line-height: 32px
  &__title
    font-weight: bold
    font-size: 24px
    line-height: 32px
  &__subtitle
    font-weight: normal
    font-size: 16px
    line-height: 27px

.free-consulting
  &-container
    background-color: #6B22E2
    width: 1440
    height: 432px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  
  &__title
    width: 880px
    height: 128px
    font-weight: bold
    font-size: 48px
    line-height: 64px
  &__message
    display: flex
    flex-direction: row
  &__input
    width: 504px
    height: 56px
    

