.con__land
  &__container
    max-width: 1347px
    display: flex
    align-items: center
    justify-content: space-between
    margin: auto
    margin-bottom: 126px
  &__text
    max-width: 604px
    display: flex
    flex-direction: column
    margin-right: 130px
  &__title
    font-weight: bold
    font-size: 64px
    line-height: 64px
    margin: 0
    margin-bottom: 10px
  &__subtitle
    font-weight: normal
    font-size: 16px
    line-height: 27px
    margin: 0

.why-us
  &__container
    max-width: 1232px
    margin: auto
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 108px
  &__text
    max-width: 608px
  &__title
    font-family: Sofia Pro
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 64px
    margin-bottom: 48px
  &__main-box
    display: flex
    flex-direction: column
    justify-content: space-evenly

.main-box
  &__item
    margin-bottom: 37px
.box
  &__1
    color: #E26A27
    margin-bottom: 8px
  &__2
    color: #5DD4D8
    margin-bottom: 8px
  &__3
    color: #4194F4
    margin-bottom: 8px
  &__title
    margin-bottom: 8px
  
.service__container__con
  margin-bottom: 120px

.cta
  background-color: $purple
  &__container
    max-width: 880px
    margin: auto
    display: flex
    align-items: center
    flex-direction: column
    padding-top: 74px
    padding-bottom: 106px
    text-align: center  
  &__title
    margin-bottom: 15px
  &__subtitle
    margin-bottom: 27px
  &__message
    display: flex
    flex-direction: row
  &__input
    width: 504px
    height: 56px
    font-family: 'Sofia Pro'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 27px
    outline: none
    border: none
    border-radius: 8px
    padding: 14px 16px
    margin-right: 20px
    

