.form
  &__container
    max-width: 1232px
    margin: auto
    padding-top: 90px
    padding-bottom: 106px
    display: flex
    align-items: center
    justify-content: space-between
  &__texts
    max-width: 608px
  &__name-email
    display: flex
    justify-content: space-between
  &__input
    border: 1px solid #D2D2F9
    box-sizing: border-box
    border-radius: 8px
    outline: none
    color: #AFAFAF
    &__small
      width: 272px
      padding: 15px 10px
  &__name
    margin-right: 17px